* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffa69e;
}
body #nav_bar {
  background-color: #262626;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  flex-wrap: nowrap;
}

li,
a {
  font-family: Arial, Helvetica, sans-serif; /* for now */
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

h1.shop_name {
  font-size: 30px;
  color: #edf0f1;
  margin-right: 30%;
  display: flex;
  flex-wrap: nowrap;
}

.nav_links {
  list-style: none;
}

.nav_links div {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links div .account .shop .cart {
  transition: all 0.3s ease 0s;
}

.nav_links div a.shop:hover {
  color: #0088a9;
}

.nav_links li a.account:hover {
  color: #0088a9;
}

.nav_links .cart {
  padding: 9px 25px;
  background-color: #8cc7a1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav_links .cart:hover {
  background-color: #0d5c48;
}

.items {
  display: flex;
  flex-direction: column;
}
.shop_bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 30px;
}

p.shop {
  font-size: 30px;
}

.sort_by {
  display: flex;
  flex-direction: column;
}

div.square {
  padding-top: 10px;
}

.image_sample {
  margin: auto;
}

.detail {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin: auto;
}

.picture-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#pictureImg {
  height: 210px;
  width: 200px;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.user-detail {
  border: 5px solid black;
}
